@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Syne", sans-serif;
    scroll-behavior: smooth;
}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
    border: 1.5px solid rgba(255, 0, 0, 0.416);
}

.homeBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.705)), url(/docs/assets/images/car1.jpg) center/cover no-repeat;
}

.carBg {
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.705)), url(/docs/assets/images/car4.jpg) center/cover no-repeat;
}